{% block zk2_useful_entity_ajax_autocomplete_widget %}
    <style>
        .zk2_loader{background: url('{{ asset('bundles/zk2useful/images/ajax-loader.gif' ) }}') no-repeat right 2% center;}
    </style>
    <script type="text/javascript">
        if (typeof typeahead == 'undefined'){
            document.write(
                '<script src="{{ asset('/bundles/zk2useful/js/bootstrap3-typeahead.min.js') }}"><\/script>'
            );
        }
        $(function() {
            var $input = $("#{{ form.vars.id }}");
            $input.attr('autocomplete','off');
            var ul_width = $input.outerWidth(true);
            $input.typeahead({
                menu: '<ul class="typeahead dropdown-menu" style="width:'+ul_width+'px;" role="listbox"></ul>',
                source: function(query, process){
                    $input.addClass('zk2_loader');
                    return $.post(
                        '{{ path('zk2_useful_ajax_autocomplete') }}',{
                            'prop': query,
                            'class': "{{ class|raw }}",
                            'property': "{{ property|raw }}",
                            'condition_operator': "{{ condition_operator|raw }}",
                            'query': "{{ query|url_encode }}", 
                            'em_name': "{{ em_name }}",
                            'max_rows': "{{ max_rows }}"
                        }, function (data) {
                            $input.removeClass('zk2_loader');
                            return process(data.options);
                        });
                },
                autoSelect: true,
                {% for key,value in options %}
                {{ key }}: {{ (value matches '/^([0-9]+|function.*|true|false)$/' ) ? value|raw : ("'"~value~"'")|raw }},
                {% endfor %}
            }); 
        });
    </script>
    {{ form_widget(form) }}

{% endblock %}

{% block zk2_useful_dependent_entity_widget %}
    <style>
        .zk2_loader{background: url('{{ asset('bundles/zk2useful/images/ajax-loader.gif' ) }}') no-repeat right 16px center;}
    </style>
    {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' form-control')|trim }) %}
    <select {{ block('widget_attributes') }}></select>

    <script type="text/javascript">
        $(function(){
            $("#{{ form.parent.offsetGet( parent_field ).vars.id }}").change( function() {
                var selected_index = {{ value ? value : 0 }};
                $("#{{ form.vars.id }}").addClass('zk2_loader');
                $.ajax({
                    type: "POST",
                    data: {
                        'class': "{{ class|raw }}",
                        'parent_id': $(this).val(),
                        'empty_value': "{{ empty_value }}",
                        'parent_field': "{{ parent_field }}",
                        'property': "{{ property }}",
                        'em_name': "{{ em_name }}",
                        'query': "{{ query|url_encode }}", 
                        'order_property': "{{ order_property }}",
                        'order_direction': "{{ order_direction }}",
                        'no_result_msg': "{{ no_result_msg }}",
                    },
                    url:"{{ path('zk2_useful_dependent_entity') }}",
                    success: function(msg){
                        if (msg != ''){
                            $("#{{ form.vars.id }}").html(msg).show();
                            $.each($("#{{ form.vars.id }} option"), function (index, option){
                                if ($(option).val() == selected_index)
                                    $(option).prop('selected', true);
                            })
                            $("#{{ form.vars.id }}").removeClass('zk2_loader');
                        } else {
                            $("#{{ form.vars.id }}").html('<em>{{ no_result_msg|trans() }}</em>');
                            $("#{{ form.vars.id }}").removeClass('zk2_loader');
                        }
                    },
                    error: function(xhr, ajaxOptions, thrownError){
                    $('html').html(xhr.responseText);
                    }
                });
            });
            $("#{{ form.parent.offsetGet( parent_field ).vars.id }}").trigger('change');
        });
    </script>

{% endblock %}


{% block zk2_useful_select2_multiple_entity_widget %}
    
    {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' form-control')|trim }) %}
    <select {{ block('widget_attributes') }} multiple="multiple">
        {% for key,val in value %}
            <option selected="selected" value="{{ key }}">{{ val }}</option>
        {% endfor %}
    </select>
    <script type="text/javascript">
        if (typeof select2 == 'undefined'){
            document.write(
                '<link href="{{ asset('/bundles/zk2useful/css/select2.min.css') }}" rel="stylesheet" />' +
                '<script src="{{ asset('/bundles/zk2useful/js/select2.min.js') }}"><\/script>'
            );
        }
        $(function() {
            $("#{{ form.vars.id }}").select2({
                multiple: true,
                minimumInputLength: 1,
                ajax: {
                    url: "{{ path('zk2_useful_select2_entity') }}",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            'prop': params.term,
                            'class': "{{ class|raw }}",
                            'property': "{{ property|raw }}",
                            'condition_operator': "{{ condition_operator|raw }}",
                            'em_name': "{{ em_name }}",
                            'max_rows': "{{ max_rows }}"
                        };
                    },
                    processResults: function (data, page) {
                        return { results: data.options };
                    },
                    cache: true
                },
                {% for key,value in options %}
                {{ key }}: {{ (value matches '/^([0-9]+|function.*|true|false)$/' ) ? value|raw : ("'"~value~"'")|raw }},
                {% endfor %}
                templateResult: functionFormat,
                templateSelection: functionFormatSelection
            });
        });
        function functionFormat (item) {
            if (item.loading) return 'Searching...';
            var markup = '<div class="clearfix">' +
            '<div class="col-sm-12">' + item.name || item.text + '</div></div>';
            return markup;
        }
        function functionFormatSelection (item) {
            if( item.name ) item.text = item.name;
            item.selected = true;
            console.log(item);
            return item.name || item.text;
        }
    </script>

{% endblock %}
