{% block zk2_useful_dependent_entity_widget %}
    {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' form-control')|trim }) %}
    <select {{ block('widget_attributes') }}></select>
    <script type="text/javascript">
        if (window.dependentEntityParameters === undefined) {
            var dependentEntityParameters = {};
        }
        dependentEntityParameters['{{ form.parent.offsetGet( parent_field ).vars.id }}'] = {
            'selected_index': {{ value ? value : '' }},
            'total_element': {{ form.vars.id }},
            'url': "{{ path('zk2_useful_dependent_entity') }}",
            'no_result_msg': "{{ no_result_msg }}",
            'data': {
                'class': "{{ class|raw }}",
                'parent_id': 0,
                'empty_value': "{{ empty_value }}",
                'parent_field': "{{ parent_field }}",
                'property': "{{ property }}",
                'em_name': "{{ em_name }}",
                'query': "{{ query|url_encode }}",
                'order_property': "{{ order_property }}",
                'order_direction': "{{ order_direction }}",
                'no_result_msg': "{{ no_result_msg }}"
            }
        };
    </script>
{% endblock %}

{% block zk2_useful_entity_ajax_autocomplete_widget %}
    <script type="text/javascript">
        if (window.entityAjaxAutocompleteParameters === undefined) {
            var entityAjaxAutocompleteParameters = {};
        }
        entityAjaxAutocompleteParameters['{{ form.vars.id }}'] = {
            'url': "{{ path('zk2_useful_ajax_autocomplete') }}",
            'class': "{{ class|raw }}",
            'property': "{{ property|raw }}",
            'condition_operator': "{{ condition_operator|raw }}",
            'query': "{{ query|url_encode }}",
            'em_name': "{{ em_name }}",
            'max_rows': "{{ max_rows }}",
            'options': {
                {% for key,value in options %}
                    '{{ key }}': {{ (value matches '/^([0-9]+|function.*|true|false)$/' ) ? value|raw : ("'" ~ value ~ "'")|raw }},
                {% endfor %}
            }
        };
    </script>
    {{ form_widget(form) }}
{% endblock %}

{% block zk2_useful_select2_multiple_entity_widget %}
    {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' form-control')|trim }) %}
    <select {{ block('widget_attributes') }} multiple="multiple">
        {% for key,val in value %}
            <option selected="selected" value="{{ key }}">{{ val }}</option>
        {% endfor %}
    </select>
    <script type="text/javascript">
        if (window.select2MultipleEntityParameters === undefined) {
            var select2MultipleEntityParameters = {};
        }
        select2MultipleEntityParameters['{{ form.vars.id }}'] = {
            'url': "{{ path('zk2_useful_select2_entity') }}",
            'class': "{{ class|raw }}",
            'property': "{{ property|raw }}",
            'condition_operator': "{{ condition_operator|raw }}",
            'em_name': "{{ em_name }}",
            'max_rows': "{{ max_rows }}",
            'options': {
                {% for key,value in options %}
                '{{ key }}': {{ (value matches '/^([0-9]+|function.*|true|false)$/' ) ? value|raw : ("'" ~ value ~ "'")|raw }},
                {% endfor %}
            }
        };
    </script>
{% endblock %}

{% block zk2_useful_multiselect_type_widget %}
    {% spaceless %}
        <script type="text/javascript">
            if (window.zkMultipleTypeParameters === undefined) {
                var zkMultipleTypeParameters = {};
            }
            zkMultipleTypeParameters['{{ id }}'] = {
                'ZkHeight': '{{ ZkHeight }}',
                'ZkWidth':  '{{ ZkWidth }}',
                'ZkSearch': '{{ ZkSearch }}',
                'ZkRange':  '{{ ZkRange }}',
                'ZkDescrUrl':  "{{ ZkDescrRout ? path(ZkDescrRout) : null }}",
                'ZkOptionsDisabled': {{ ZkOptionsDisabled|raw }}
            };
        </script>
        {{ block('choice_widget_collapsed') }}
    {% endspaceless %}
{% endblock %}

{% block zk2_useful_multiselect_choice_type_widget %}
    {{ block('zk2_useful_multiselect_type_widget') }}
{% endblock %}

{% block zk2_useful_multiselect_entity_type_widget %}
    {{ block('zk2_useful_multiselect_type_widget') }}
{% endblock %}

{% block zk2_useful_file_type_widget %}
    {% spaceless %}
        {% if zkFileSettings.widget_type == 'thumbnail' %}
            <div class="fileinput fileinput-new" data-provides="fileinput">
                <div class="fileinput-preview thumbnail" data-trigger="fileinput"
                     style="width: {{ zkFileSettings.widget_width }}; height: {{ zkFileSettings.widget_height }};">
                    {% if zkFileSettings.image_url %}<img src="{{ zkFileSettings.image_url }}"/>{% endif %}
                </div>
                <img class="fileinput-img img-ok sr-only" src="{{ asset('bundles/zk2useful/images/tick.png') }}" />
                <img class="fileinput-img img-err sr-only" src="{{ asset('bundles/zk2useful/images/delete.png') }}" />
                <div class="text-center">
                    <span class="btn btn-xs btn-primary btn-file">
                        <span class="fileinput-new">{{ zkFileSettings.select_label }}</span>
                        <span class="fileinput-exists">{{ zkFileSettings.change_label }}</span>
                        {% set attr = attr|merge({ 'data-ajax-url': path('zk2_useful_file_ajax_upload') }) %}
                        {% set attr = attr|merge(zkAjaxSettings) %}
                        {{ block('form_widget') }}
                    </span>
                    {#<a href="javascript:void(0)" class="btn btn-xs btn-danger fileinput-exists" style="margin-left: 3px;"
                       data-dismiss="fileinput">{{ zkFileSettings.remove_label }}</a>#}
                </div>
            </div>
        {% elseif zkFileSettings.widget_type == 'base' %}
            <div class="fileinput fileinput-new" data-provides="fileinput">
                <span class="btn btn-xs btn-primary btn-file">
                    <span class="fileinput-new">{{ zkFileSettings.select_label }}</span>
                    <span class="fileinput-exists">{{ zkFileSettings.change_label }}</span>
                    {{ block('form_widget') }}
                </span>
                <span class="fileinput-filename">{{ zkFileSettings.image_url }}</span>
                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block zk2_useful_base_file_type_widget %}
    {{ block('zk2_useful_file_type_widget') }}
{% endblock %}

{% block zk2_useful_thumbnail_file_type_widget %}
    {{ block('zk2_useful_file_type_widget') }}
{% endblock %}